<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <div class="small-box bg-aqua">
                            <div class="inner text-left">
                                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><b>Nombre de la empresa de credito</b></span>
                                    <span class="info-box-text">Monto </span>
                                    <span class="info-box-text">en </span>
                                    <span class="info-box-text">al x%</span>
                                    <span class="info-box-text">disponible en </span>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <a href="solicitar-credito-3" class="small-box-footer">
                  Solicitar <i class="fa fa-arrow-circle-right"></i>
                </a>
                        </div>
                    </li>
                    <li>
                        <div class="small-box bg-aqua">
                            <div class="inner text-left">
                                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><b>Nombre de la empresa de credito</b></span>
                                    <span class="info-box-text">Monto </span>
                                    <span class="info-box-text">en </span>
                                    <span class="info-box-text">al x%</span>
                                    <span class="info-box-text">disponible en </span>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <a href="solicitar-credito-3" class="small-box-footer">
                  Solicitar <i class="fa fa-arrow-circle-right"></i>
                </a>
                        </div>
                    </li>
                    <li>
                        <div class="small-box bg-aqua">
                            <div class="inner text-left">
                                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><b>Nombre de la empresa de credito</b></span>
                                    <span class="info-box-text">Monto </span>
                                    <span class="info-box-text">en </span>
                                    <span class="info-box-text">al x%</span>
                                    <span class="info-box-text">disponible en </span>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <a href="solicitar-credito-3" class="small-box-footer">
                  Solicitar <i class="fa fa-arrow-circle-right"></i>
                </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->