<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <div class="small-box bg-aqua">
                            <div class="inner text-left">
                                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><b>Nombre de la empresa de credito</b></span>
                                    <span class="info-box-text">Monto </span>
                                    <span class="info-box-text">en </span>
                                    <span class="info-box-text">al x%</span>
                                    <span class="info-box-text">disponible en </span>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <a href="" data-toggle="modal" data-target="#modal-default" class="small-box-footer">
                Solicitar <i class="fa fa-arrow-circle-right"></i>
              </a>
                        </div>
                    </li>
                    <li>
                        <div class="small-box bg-aqua">
                            <div class="inner text-left">
                                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><b>Nombre de la empresa de credito</b></span>
                                    <span class="info-box-text">Monto </span>
                                    <span class="info-box-text">en </span>
                                    <span class="info-box-text">al x%</span>
                                    <span class="info-box-text">disponible en </span>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <a href="solicitar-credito-3" class="small-box-footer">
                Solicitar <i class="fa fa-arrow-circle-right"></i>
              </a>
                        </div>
                    </li>
                    <li>
                        <div class="small-box bg-aqua">
                            <div class="inner text-left">
                                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text"><b>Nombre de la empresa de credito</b></span>
                                    <span class="info-box-text">Monto </span>
                                    <span class="info-box-text">en </span>
                                    <span class="info-box-text">al x%</span>
                                    <span class="info-box-text">disponible en </span>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <a href="solicitar-credito-3" class="small-box-footer">
                Solicitar <i class="fa fa-arrow-circle-right"></i>
              </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mensaje de Confirmación</h4>
            </div>
            <div class="modal-body">
                <p>Al confirmar su solicitud, ya no hay marcha atrás&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="confirm()" data-dismiss="modal">Solicitar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>